#ajuda {
	position:relative;
	height: 100%;

	z-index: 1;

	opacity: 1;
	.transition(all, 0.5s, ease-in-out);

	&.fade {
		opacity: 0
	}

	div {
		position: absolute;
	}

	.card {
		width: 244px;
		height: 272px;


		right:30px;
		bottom:40px;

		background: url(../img/help-card.png) no-repeat;

		p {
			width: 220px;
			margin:0;
			padding:0;
			text-align: center;
			right: -10px;
			top:-50px;

		}
	}

	.help {
		width: 45px;
		height: 32px;
		background: url(../img/help-help.png) no-repeat;

		position:fixed;
		left:150px;
		bottom:30px;

		p {
			bottom:-5px;
			left: 50px;
			width: 500px
		}

	}

	.comment {
		width: 48px;
		height: 68px;
		background: url(../img/help-comment.png) no-repeat;

		position:fixed;
		left:110px;
		bottom:30px;

		p {
			bottom:35px;
			left: 50px;
			width: 220px
		}

	}
	.instructions {
		width: 55px;
		height: 123px;
		background: url(../img/help-instructions.png) no-repeat;

		position:fixed;
		left:70px;
		bottom:30px;

		p {
			bottom:90px;
			left: 60px;
			width: 220px
		}

	}

	p {
		font-family: 'Handlee', cursive;
		color: @azul;
		font-size: 2.1em;

		position:absolute;
	}
}

.greenBoard, .wood, .wood2, .blueprint, .asfalto, .apple  {
	#ajuda {
		p {color:#fff}
		.card {background: url(../img/help-card-white.png) no-repeat;}
		.help{background: url(../img/help-help-white.png) no-repeat;}
		.comment {background: url(../img/help-comment-white.png) no-repeat;}
		.instructions {background: url(../img/help-instructions-white.png) no-repeat;}
	}
}
