.bt {

	display: block;
	height:25px;
	line-height:25px;
	padding: 0 30px;
	margin:4px;

	font-family: "Open Sans", sans-serif;
	font-size: 1.4em;
	text-decoration: none;
	color:#fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	float: left;

	border: 1px solid #0073ca;

	.linear-gradient(#2ea8f8, #0073ca, top);
	.border-radius(50px);
	.double-box-shadow(inset 0 2px 1px rgba(255,255,255,0.31), 0 2px 2px rgba(0,0,0,0.39));

	.transition();

	&:hover,
	&focus {
		.double-box-shadow(inset 0 0 10px rgba(255,255,255,0.8), 0 2px 2px rgba(0,0,0,0.39));
		border: 1px solid #2ea8f8;
	}
	&:active {
		.double-box-shadow(inset 0 3px 3px rgba(0,0,0,0.41), 0 1px 0 rgba(255,255,255,0.25));
	}

	&.gray {
		.linear-gradient(#efefef, #ccc, top);
		border-color: #ccc;
		color:#666;
		text-shadow: 0 1px 1px #fff;
	}

}

.btgoup {
	height: 25px;
	margin-top:5px;
	.linear-gradient(#3e3e3e, #1c1c1c 80%,top);
	.border-radius(50px);
	.double-box-shadow(inset 0 2px 2px rgba(0,0,0,0.8), 0 1px 1px rgba(255,255,255,0.24));

	a {
		display: block;
		width: 40px;
		height:25px;
		line-height:25px;

		.float-left();

		font-size:2.1em;
		color:#999;
		text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		text-decoration:none;
		text-align: center;

		border-right:1px solid rgba(255,255,255,0.05);
		border-left:1px solid rgba(0,0,0,0.15);

		.transition();

		&:first-child {
			border-left:none;
			.border-radius(50px 0 0 50px);
		}
		&:last-child {
			border-right:none;
			.border-radius(0 50px 50px 0);
		}

		&:hover, &.active, &.active:hover {
			.box-shadow(inset 0 0 5px rgba(255,255,255,0.24));
			.linear-gradient(#0073ca 35%, #2ea8f8 75%, bottom);
			color:#fff;
			text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		}
		&:active, &.active, &.active:active {
			.double-box-shadow(inset 0 2px 2px rgba(0,0,0,0.8), inset 0 0 5px rgba(255,255,255,0.24));
		}
	}
}


.centralize {
	text-align: center;

	.bt {
		display: inline-block;
		float:none;
	}
}
