
html { height: 100%}
body {
	height:100%;

	.radial-gradient(#fff, #ccc, top);
	background-attachment:fixed;
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;



	> header {
		width: 100%;
		height:60px;

		position:fixed;
		top:0;
		left:0;
		z-index:999;

		#logo {
			display: block;
			width: 140px;
			height: 60;
			margin-right:20px;
			margin-left:50px;
		}

		h1 {
			font-size: 1.6em;
			color:#fff;
			text-shadow: 0 1px 1px #000;
			font-weight:normal;
			margin:10px 0 0;
		}

		p {
			font-size: 1.2em;
			color:#ccc;
			text-shadow: 0 1px 1px #000;
			font-weight:normal;
			margin:0;
		}

		#kombizita {
			display: block;
			height: 60px;
			line-height:60px;

			font-size:1.4em;
			font-weight:bold;
			color:#000;
			text-decoration:none;

			text-shadow:0 1px 1px rgba(255,255,255,0.20);

			position:absolute;
			right:50px;


			.transition();

			&:hover {
				color:#ff3939;
				text-shadow: 0 1px 1px #000;
			}
		}

	}

	> footer {
		width: 100%;
		height:35px;

		position:fixed;
		bottom:0;
		left:0;
		z-index: 9;

		&.bar {.box-shadow(0 -3px 3px rgba(0,0,0,0.3));}

		.bt {
			margin-right:55px;
			padding: 0;
			width:140px;
			text-align: center;
		}

		nav {
			margin-left:50px;
		}
	}
}

#main {

	/*padding-bottom: 35px;*/
	height:100%;
	position: relative;
}

	.bar {
		.linear-gradient(#292929, #000, top) ;
		.box-shadow(0 3px 3px rgba(0,0,0,0.3));
	}


/**
 * 	TEMAS
 */
.greenBoard {
	background: url(../img/bg/greenboard.jpg) top center;
	background-attachment:fixed;
}

.wood {
	background: url(../img/bg/wood.jpg) top center;
	background-attachment:fixed;
}
.wood2 {
	background: url(../img/bg/wood2.jpg) top center;
	background-attachment:fixed;
}
.wood3 {
	background: url(../img/bg/wood3.png) top center;
	background-attachment:scroll;
}
.apple {
	background: url(../img/bg/apple.png) top center;
	background-attachment:scroll;
}
.blueprint {
	background: url(../img/bg/blueprint.png) top center;
	background-attachment:fixed;
}
.grid {
	background: url(../img/bg/grid.png) top center;
	background-attachment:scroll;
}
.asfalto {
	background: url(../img/bg/asfalto.png) top center;
	background-attachment:scroll;
}
.default {
	.radial-gradient(#fff, #ccc, top);
	background-attachment:fixed;
}

// MODULOS
@import "botoes.less";
@import "postit.less";
@import "helpers.less";
@import "reveal.less";
@import "tiptip.less";


@import "ajuda.less";
