
/**
 * 	CORES
 */
@azul: #012fa7;


/**
 * 	FUNCOES
 */
.border-radius (@radius: 5px) {
  border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
 }
.transition (@property: all, @duration: 0.2s, @timing-function: ease-in-out, @delay: 0s){
  transition: @arguments;
    -moz-transition: @arguments;
    -webkit-transition: @arguments;
    -o-transition: @arguments;
    -ms-transition: @arguments;
}
.box-shadow (@params: 0 1px 1px rgba(0,0,0,0.5)){
  box-shadow: @params;
    -moz-box-shadow:@params;
    -webkit-box-shadow: @params;
}
.double-box-shadow (@param1: 0 1px 1px rgba(0,0,0,0.5), @param2:inset 0 1px 1px #fff){
  box-shadow: @param1, @param2;
    -moz-box-shadow:@param1, @param2;
    -webkit-box-shadow: @param1, @param2;
}


.linear-gradient(@start: #bdbdbd, @end:#dcdcdc, @orientation: bottom){
	background: @start ;

		background-image: -moz-linear-gradient(@orientation, @start , @end );
		background-image: -webkit-linear-gradient(@orientation, @start , @end );
		background-image: -o-linear-gradient(@orientation, @start , @end );
		background-image: -ms-linear-gradient(@orientation, @start , @end );

}
.radial-gradient(@start: #bdbdbd, @end:#dcdcdc, @orientation: bottom){
	background: @start ;

		background-image: -moz-radial-gradient(@orientation, @start 0%, @end 100%);
		background-image: -webkit-radial-gradient(@orientation, @start 0%, @end 100%);
		background-image: -o-radial-gradient(@orientation, @start 0%, @end 100%);
		background-image: -ms-radial-gradient(@orientation, @start 0%, @end 100%);

}

.box-sizing(){
	-webkit-box-sizing: border-box; /* Safari/Chrome, WebKit */
	-moz-box-sizing: border-box;    /* Firefox,  Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}




///////////////////
// ICONES
///////////////////
/* CSS */

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../fonts/LigatureSymbols-2.05.eot');
    src: url('../fonts/LigatureSymbols-2.05.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LigatureSymbols-2.05.woff') format('woff'),
         url('../fonts/LigatureSymbols-2.05.ttf') format('truetype'),
         url('../fonts/LigatureSymbols-2.05.svg#LigatureSymbols') format('svg');
    src: url('../fonts/LigatureSymbols-2.05.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


///////////////////
//Classes de Ajuda
///////////////////

[draggable=true] {
    -webkit-user-drag: element;
    -webkit-user-select: none;
    -moz-user-select: none;
}
[contenteditable=true] {
    cursor: text;
}

.grabbing {
	cursor: move;
	cursor:hand;
	cursor:grabbing;
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
}

/*Image Replacement - Substituição de texto por imagem*/
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/*Oculta elemento para o Navegador e Leitor de tela*/
.hidden { display: none !important; visibility: hidden; }

/*Esconde elemento fora da tela para o Navegador mas é lido pelo Leitor de tela */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/*Oculta elemento visualmente mas preserva seu espaço */
.invisible { visibility: hidden; }

/*Correção para float*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/*Floats*/
.float-right { float:right}
.float-left { float:left}
.clear-both { clear:both}
