#categories {
	position:absolute;
	top: 90px;
	left:40px;

	.postit {
		position:relative;

		margin:0 10px;
		.float-left;
	}
}

.postit {
	display: block;
	width:220px;
	min-height: 200px;

	position:absolute;

	z-index:2;

	font-family: 'Handlee', cursive;
	.linear-gradient(#fefecc,  #fcf9a1, top);
	.box-shadow(0 3px 5px rgba(0,0,0,0.34));

	cursor: default;

	.transition(box-shadow, 0.2s, ease-in-out);

	&.active {
		.box-shadow(0 5px 15px rgba(0,0,0,0.5));
	}

	&:hover {
		.box-shadow(0 5px 15px rgba(0,0,0,0.34));
	}


	header {
		background: #f8f7b6;
		text-align:center;
		padding:5px;
		color:@azul;
	}

	h2 {
		margin:0;
		font-size: 2.4em;
		font-weight: normal;

	}

	p {
		font-size:1.2em;
		font-style: italic;
		padding:0 5px;
		margin:0
	}



	ul {
		padding-left:0;
		list-style-position: inside;

		li {
			font-size:1.4em;
			position: relative;
			.border-radius(50px);
			padding: 0 5px;
			margin:0 5px;
			.transition();

			position:relative;

			min-width:200px;
			span {
				position:absolute;
				right:0;
				top:-1px;



				/*background: rgba(0,0,0,0.05);*/

				.border-radius(50px);

				.transition();
				opacity: 0;
				z-index: -1;

				a {
					text-decoration:none;
					font-size:1.3em;
					padding:0 5px 0 0;
					color:rgba(0,0,0,0.3);
					.transition();

					&:hover{
						color:rgba(0,0,0,0.8);
					}

				}



			}
			&:hover {
				background: rgba(0,0,0,0.04);
				span {
					z-index: 10;
					opacity: 1
				}
			}

			&.fade{
				opacity: 0
			}

		}
	}


	&.card {
		width:140px;
		min-height: 100px;
		height: 100px;

		top: auto;
		left:auto;
		right: 50px;
		bottom: 80px;
		header {
			background: none;
		}
		h2 {
			font-size:1.8em
		}

		&.active {
			.box-shadow(0 5px 15px rgba(0,0,0,0.34));
		}
	}

	a.info {
		position: absolute;
		top:2px;
		right:5px;

		text-decoration: none;
		color:rgba(0,0,0,0.3);
		font-size:1.8em;

		.transition();

		&:hover {
			color:rgba(0,0,0,0.8);
		}
	}

}

.drag {
	cursor: move;
	cursor:hand;
	cursor:grab;
	cursor:-moz-grab;
	cursor:-webkit-grab;

}

li.grabbing {
	list-style-position: inside;
	font-size:1.4em;
	.border-radius(50px);
	padding: 0 5px;
	margin:0 5px;
	background: rgba(0,0,0,0.04);
	z-index: 10;
	min-width:200px;

	span {
		display: none;
	}
}
